<!-- content -->                      
<div class="row">

	<div class="col-sm-12">
		<%= link_to hacker_thread_tables_path, class: "btn btn-primary", style: "margin-bottom:15px;" do %>
			<i class="fa fa-chevron-left"></i> 一覧へ
		<% end %>
	</div>
	<br>

	<div class="col-sm-12">
		<h1><%= @thread_table.title %></h1>
		<%= simple_format @thread_table.content, class: "lead" %>
	</div>
	<hr>
  
	<!-- main col --> 
	<div class="col-sm-12">
<% if !@responses.empty? %>
	<% @responses.each do |response| %>
		<div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h5 class="media-heading"><%=  %>
                    <small><%= response.created_at.strftime("%Y年%m月%d日　%H時%M分") %></small>
                </h5>
                <%= simple_format response.content %>
            </div>
        </div>
    <% end %>
<% end %>
	</div>

	<hr>
	<div class="col-sm-12 col-md-6">
		<%= form_for @new_respone, url: hacker_thread_table_responses_path do |f| %>
		<div class="form-group">
			<%= f.text_area :content, autofocus: true, class: "form-control", rows:4 %>
		</div>
		<%= f.submit "投稿", class: "btn btn-lg btn-primary" %>
		<% end %>
	</div>

</div><!--/row-->