<!-- content -->                      
<div class="row">

	<div class="col-sm-12">
		<%= link_to new_hacker_thread_table_path, class: "btn btn-primary", style: "margin-bottom:15px;" do %>
			<i class="fa fa-plus"></i> スレッドを作成
		<% end %>
	</div>
	<br>
  
	<!-- main col --> 
<% if !@thread_tables.empty? %>
    <% @thread_tables.each do |thread_table| %>
    <div class="col-sm-12">
		<div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x" style="width:10em;height:10em;">
                    <%= render 'hacker/thread_tables/thread_table_image', thread_table: thread_table %>
                </span> 
            </div>
            <div class="media-body">
            <%= link_to hacker_thread_table_responses_path(thread_table.id) do %>
                <h2 class="media-heading"><%= thread_table.title %></h2>
            <% end %>
                <p><%= truncate thread_table.content %></p>
                <h5><i class="fa fa-clock-o"></i> 作成日 <%= thread_table.created_at.strftime("%Y年%m月%d日　%H時%M分") %></h5>
                <h5><i class="fa fa-commenting-o"></i> コメント <%= thread_table.responses.count %> </h5>
            </div>
        </div>
	</div>
    <hr>
    <% end %>
<% end %>
</div><!--/row-->