<div class="container-full">

      <div class="row">
       
        <div class="col-lg-12 text-center v-center">
          <br>
          <br>
          
          <h1>ようこそHacker Plazaへ</h1>
          <p class="lead">
            Hacker Plazaとは、意欲的で高度な技術を持ったハッカーが集うオンラインの広場です。<br>
            ここでは、知的好奇心をお互いに刺激し合いながら、自分を成長させていきます。<br>
            知的好奇心溢れる広場へようこそ！
          </p>
          
          <br><br><br>

          <h3>ログイン</h3>

          <br>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "col-lg-12") do |f| %>
            <div class="form-group" style="width:340px;text-align:center;margin:0 auto;">
              <label>Eメール</label>
              <%= f.email_field :email, autofocus: true, class: "form-control input-lg" %>
            </div>
            <br>
            <div class="form-group" style="width:340px;text-align:center;margin:0 auto;">
              <label>パスワード</label>
              <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg" %>
            </div>
            <br>
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <span class="input-group-btn">
                <%= f.submit "ログイン", class: "btn btn-lg btn-primary" %>
              </span>
            </div>
          <% end %>

          <br>
          
          <%= render "devise/shared/links" %>

        </div>
        
      </div> <!-- /row -->
  
      <div class="row">
       
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
        <p class="lead">以下でログイン</p>
        <%= link_to user_omniauth_authorize_path(:facebook) do %>
          <i class="icon-facebook"></i>
        <% end %>
          <a href="#"><i class="icon-twitter"></i></a> 
        </div>

      </div>
  
    <br><br><br><br><br>

</div> <!-- /container full -->

<div class="container">
  
    <hr>
  
    <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Projectを公開しよう！</h3></div>
            <div class="panel-body">
            このサービスは、自分でサービスを開発しているHackerがプロジェクトを公開し、どのように活動しているのかを記したり、助言を得たりしましょう！<br>
            また投資家の目にも留まり連絡が来るかもしれませんが、投資を受け入れるかどうかはあなた方の自由です。
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Threadを作成し、知的なコミュニケーションを！</h3></div>
            <div class="panel-body">
            ある話題、技術、会社などなどについてHackerたちと知的なコミュニケーションをしよう！<br>
            自分の意見・考えを発信し、いろいろな思考をしよう！
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>IT,Hack,ベンチャー...最新の情報を得ましょう！</h3></div>
            <div class="panel-body">
            最近できた新しいサービス、知らなかった技術、投資を受けたベンチャー、面白い情報など最新の知的好奇心が湧く情報をチャックできます！<br>
            新たな発見をして次のステップへ！
            </div>
          </div>
        </div>
    </div>
  
  <div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right"><a href="http://www.bootply.com">Hacker-plaza.com</a> &nbsp; ©Copyright 2015 All Right Reserved.</p>
        <br><br>
        </div>
    </div>
</div>